<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <% @all_articles.each do |article| %>
        <h2> <a href="/articles/<%=article.id%>"> <%= article.title %> </a> </h2>
    <% end %>

    <a href="/articles/new">Enter a new Article</a>
</body>
</html>